* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
    );
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

form h1 {
    align-self: center;
    color: #006863;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
}

form input {
    margin-top: 20px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #006863;
    color: black;
    font-size: 1em;
    font-weight: 400;
}

form input:focus {
    outline: none;
}

form button {
    margin-top: 30px;
    height: 45px;
    background-color: #006863;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s;
}

form button:hover {
    background-color: black;
    color: white;
}

form p {
    align-self: center;
    line-height: 25px;
}

form .first {
    font-size: 1.03em;
    margin-top: 20px;
}

form .second a {
    text-decoration: underline;
    font-size: 1.03em;
    font-weight: 500;
    color: #006863;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");
